KLASSENBUCH_URL=https://klassenbuch.gfn.de/login
TIMEBUTLER_URL=https://app.timebutler.com/do?ha=login&ac=2

KLASSENBUCH_USERNAME=your_username
KLASSENBUCH_PASSWORD=your_password

TIMEBUTLER_USERNAME=
TIMEBUTLER_PASSWORD=

OPENAI_API_KEY=

AUTO_SUBMIT=false
DEFAULT_SIGNATURE=Schaffer

UPLOAD_FOLDER=./uploads
SCREENSHOT_FOLDER=./screenshots
LOG_FOLDER=./logs
ERROR_REPORT_FOLDER=./error_reports
ANALYSIS_HISTORY_FOLDER=./analysis_history

REFERENCE_SCREENSHOT_DIR=C:\Users\Florian.Schaffer\OneDrive - Amadeus Fire AG\Desktop\Private\Klassenbuecher

TIMEBUTLER_PROJECT=FbW
TIMEBUTLER_CATEGORY=Training/Coaching
TIMEBUTLER_START=08:30
TIMEBUTLER_END=16:30
TIMEBUTLER_PAUSE=45m
TIMEBUTLER_REMARK=Training/Coaching im Rahmen der FbW-Unterrichtsdurchfuehrung

FEDERAL_STATE=BW
BLOCKED_DATES=
VACATION_DATES=
SICK_DATES=

DESKTOP_NOTIFICATIONS=true
AUTO_OPEN_BROWSER=true
AUTO_DRY_RUN_ON_START=false

GITHUB_REMOTE_URL=https://github.com/FlorianS2908/klassenb-cherUndZeiterfassung.git
GIT_DEFAULT_BRANCH=main
